<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Document</title>
</head>

<body>

    <% article.forEach(article=> { %>
        <div class="innercard1">
            <div class="card mb-3 w-25 incard">
                <img src="/images/<%= article.image %>" class="card-img-top imgsz" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= article.title %>
                    </h5>
                    <p class="card-text">
                        <%= article.description %>
                    </p>
                </div>


                <a href="/api/edit/<%= article._id %>" class="btn btn-primary mt-3">edit</a>
                <a href="/api/delete/<%= article._id %>" class="btn btn-danger mt-3">delete</a>
            </div>

        </div>

        <% }) %>
</body>

</html>